.feedbacks-bg {
    background: url("../../assets/background-feedbacks.png") no-repeat;
    background-size: cover;
}

.feedbacks {
    text-align: center;
    justify-items: center;
    padding: 40px 0px;
}

.feedbacks h2 {
    font-size: 108px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px #FFFFFF;
    paint-order: stroke fill
}

.feedback-div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
}

.feedback-box {
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    
    
    align-content: center;
    padding: 40px 40px;
    line-height: 1.5;
}

.feedback-box span {
    display: block;
    margin-top: 24px;
    justify-self: end;
    font-size: 12px;
    max-width: 24ch;
}

.arrow-right, .arrow-left {
    cursor: pointer;
}

@media (max-width: 930px) {

    .feedbacks h2 {
        font-size: 72px;
    }

}

@media (max-width: 715px) {

    .feedbacks h2 {
        font-size: 56px;
    }

    .feedback-box p {
        font-size: 14px;
    }
}

@media (max-width: 515px) {

    .feedback-div {
        gap: 12px;
    }

    .feedbacks h2 {
        font-size: 40px;
    }

    .feedback-box p {
        font-size: 12px;
    }

    .feedback-box span {
        font-size: 10px;
        justify-self: center;
    }
}

@media (max-width: 320px) {

    .feedbacks h2 {
        font-size: 32px;
    }

}