.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

.banner-text {
    padding-top: 24px;
}

.banner-text ul {
    margin-top: 24px;
    color: #9B2438;
}

.banner-text li {
    display: flex;
    gap: 4px;
    align-items: center;
}

.banner-text li + li{
    margin-top: 4px;
}

.banner-text h1{
    font-size: 48px;
    line-height: 56px;
}

.banner-text p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.banner-text span .bold {
    font-weight: bold;
}

.banner-text-button {
    margin-top: 32px;
}

@media (max-width: 840px) {
    .banner-text h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .banner-text, .banner-text p {
        font-size: 14px;
    }
}

@media (max-width: 712px) {

    .banner-bg {
        background-color: #9B2438;
    }

    .banner {
        grid-template-columns: 1fr;
        margin-top: 12px;
    }

    .banner-text {
        padding: 40px 0px;
    }

    .banner-text h1 {
        color: #FFFFFF;
    }

    .banner-text p {
        color: #FFFFFF;
    }

    .banner-img {
        display: none;
        position: absolute;
        z-index: -1;
        opacity: .175;
    }

    .banner-text-button {
        justify-self: center;
    }

    .banner-text li {
        color: #FFFFFF;
    }

    .banner-button {
        color: #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }
}

@media (max-width: 420px) {
    .banner-text h1 {
        font-size: 24px;
        line-height: 28px;
    }

    .banner-text, .banner-text p {
        font-size: 12px;
    }
}