.about-bg {
    background-color: #851E2E;
    margin-top: 80px;
    color: #F7F7F7;
    position: relative;
    z-index: -2;
}

.about-bg::after {
    content: "";
    position: absolute;
    background: url("../../assets/logo-bg.svg") no-repeat;
    width: min(90%, 415px);  
    height: auto; 
    aspect-ratio: 415 / 584; 
    z-index: -1;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100vw; 
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 64px 0px;
    align-items: center;
    gap: 64px;
}

.about-text p {
    margin-top: 24px;
}

.about-text h3 {
    margin-top: 40px;
}

.about-img {
    margin-top: 24px;
    justify-self: center;
}

@media (max-width: 1000px) {
    .about {
        grid-template-columns: 1fr;
    }

    .about-img-chair {
        display: none;
    }

    .about-text {
        padding: 0px 64px;
    }
}

@media (max-width: 460px) {

    .about {
        gap: 16px;
    }

    .about-text p{
        font-size: 14px;
        margin-top: 16px;
    }

    .about-img-group {
        display: none;
    }

    .about-img-chair {
        display: block;
    }
}