.footer-bg {
    background-color: #710101;
}

.footer {
    padding-top: 40px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer h4 {
    margin-bottom: 24px;
}

.footer-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.footer-services li {
    list-style: initial;
}

.footer-services li + li {
    margin-top: 8px;
}

.copyright-footer {
    margin-top: 24px;
    text-align: center;
    background-color: #913442;
}