.footer-bg {
    background-color: #710101;
}

.footer {
    padding-top: 40px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 24px;
}

.footer h4 {
    margin-bottom: 24px;
}

.footer-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.footer-services li {
    list-style: initial;
}

.footer li + li {
    margin-top: 8px;
}

.footer-contact {
    display: flex;
    gap: 8px;
    align-items: center;
}

.copyright-footer {
    margin-top: 24px;
    padding: 16px;
    text-align: center;
    background-color: #913442;
    color: #FFFFFF;
}

@media (max-width: 930px) {

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer li, .footer p {
        font-size: 12px;
    }

    .footer-services {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {

    .footer {
        grid-template-columns: 1fr;
    }

    .copyright-footer {
        font-size: 10px;
    }
}